.loginBg{
  background-image: url("../public/login-background.svg");
  height: 100vh;
}

.loginLayout{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%; 
}
@media screen and (min-width: 450px) {
  .loginLayout{
    width: 40%; 
  }
}

.loginRectangle {
  background-color: #ffffff;
  border-radius: 8px;
}

.loginContainer{
  padding: 24px 16px;
}
@media screen and (min-width: 450px) {
  .loginContainer{
    padding: 32px;
  }
}

.loginForm{
  padding: 24px 16px;
}
@media screen and (min-width: 450px) {
  .loginForm{
    padding: 24px;
  }
}

.loginFooter{
  position: absolute;
  right: 2%;
  color: #ffffff;
  opacity: 0.6;
  margin-top: 12px;
  cursor: pointer;
}

/* Verify */
.verifyLayout{
  width: 40%;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 25px rgba(0,0,0,.2);
}

.verifyContainer{
  padding: 40px;
}

.verifyTitle{
font-size: 18px;
color: rgba(0, 0, 0, 0.87);
margin-top: 20px;
}

.verifyDesc{
font-size: 16px;
color: rgba(0, 0, 0, 0.6);
margin-top:8px;
}

.verifyInput{
  margin:24px 0;
}

.verifyBtn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #FF6700;
  border: .05rem solid #FF6700;
  border-radius: .1rem;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: 0;
  padding: .25rem .4rem;
  text-align: center;
  text-decoration: none;
  transition: background .2s,border .2s,box-shadow .2s,color .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.verifyFooter{
  color: #FF6700;
  margin-top: 12px;
}
